@import url('https://fonts.googleapis.com/css?family=Signika');

body {
  background-color: #222222;
}

#links {
  width: 80%;
  height: 100%;
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  #books {

    .link {

      width: 170px;
      height: 170px;
      img {
        width: 150px;
      }
    }


  }

  a {
    display: block;
    align-self: center;
    outline: none;

    .link {
      width: 120px;
      height: 120px;
      position: relative;

      img {
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        margin: auto;
        width: 100px;
        transition: bottom 0.3s ease-in-out, transform 0.3s ease-in-out;
      }

      .label {
        position: absolute;
        bottom: 5px;
        left: 0; right: 0;
        margin: auto;
        width: 100px;
        height: 20px;
        color: white;
        text-align: center;
        font-family: 'Signika';
        text-transform: uppercase;
        font-size: 15px;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
      }
    }

    .link:hover {
      img {
        bottom: 20px;
        transform: rotateX(40deg);
      }
      .label {
        opacity: 1;
      }
    }
  }

}
